<ion-header>
  <ion-toolbar>
  <img src="assets/img/dg.png" class="logo">
  <ion-title>Salt & Pepper Chicken</ion-title> <!--Page title-->
</ion-toolbar>
</ion-header> <!--Places the DG Asian Food Company Logo at the top of page. Sized and centered using logo tag in CSS-->

<ion-buttons slot="start">
<ion-back-button color="danger" defaultHref="/recipes"></ion-back-button> <!--Back button passes user back to Recipes page-->
</ion-buttons>

<ion-content> <!--Start of content tag-->
  <div text-center>
    <img src="assets/img/spchix.jpg"> <!--Recipe image-->
  </div>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          
          <ion-card-title>Ingredients</ion-card-title> <!--Card title for ingredients-->
        </ion-card-header>
      
        <ion-card-content>
          8 diced chicken breasts
          <p></p>
          6 spring onions, thinly sliced
          <p></p>
          2 red finger chilli, thinly sliced
          <p></p>
          2 garlic cloves, crushed
          <p></p>
          2 tbsp Chinese five-spice powder
          <p></p>
          2 tbsp fine salt
          <p></p>
          120g cornflour
          <p></p>
          2 tbsp ground black pepper
          <p></p>
          400ml vegetable oil
        </ion-card-content>
        <!--Card content shows ingredients required-->
          
      </ion-card>

      <ion-card>
          <ion-card-header>
            
            <ion-card-title>Method</ion-card-title> <!--Card title for recipe method-->
          </ion-card-header>
        
          <ion-card-content>
            1. In a large bowl, mix the cornflour, salt, five-spice and tablespoon of pepper together and set aside
            <p></p>
            2. Heat the oil in a wok or large pan to 180C on a cooking thermometer, or until a teaspoon of cornflour sizzles when dropped in
            <p></p>
            <b>(CAUTION: Hot oil can be dangerous. Do not leave unattended)</b>
            <p></p>
            3. Toss the chicken in the flour mixture, working in batches
            <p></p>
            4. Carefully add it to the oil and cook for 2–3 minutes on one side, until golden brown and cooked though
            <p></p>
            5. Turn and cook for a further 2–3 minutes. Drain on kitchen paper
            <p></p>
            6. Heat the remaining 1 tablespoon of oil in a clean pan over a medium heat
            <p></p>
            7. Add the spring onions, chilli, garlic and remaining teaspoon of pepper with a pinch of salt
            <p></p>
            8. Fry for 1–2 minutes, then add the cooked chicken
            <p></p> 
            9. Toss and cook for a further 2–3 minutes, until the chicken is coated in the onions, garlic and chilli
            <p></p>
            10. Serve immediately with chips or fried rice
            <p></p>
            <ion-card-title color="danger">Serves 4</ion-card-title>
          </ion-card-content>
        </ion-card>
        <!--Card content shows recipe method steps-->

</ion-content> <!--End of content tag-->

