<ion-header>
    <ion-toolbar>
    <img src="assets/img/dg.png" class="logo">
    <ion-title>Red Thai Chicken Curry</ion-title> <!--Page title-->
  </ion-toolbar>
</ion-header> <!--Places the DG Asian Food Company Logo at the top of page. Sized and centered using logo tag in CSS-->

<ion-buttons slot="start">
  <ion-back-button color="danger" defaultHref="/recipes"></ion-back-button> <!--Back button passes user back to Recipes page-->
</ion-buttons>

<ion-content> <!--Start of content tag-->

  <div text-center>
    <img src="assets/img/redcurry.jpg"> <!--Recipe image-->
  </div>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle> 
          
          <ion-card-title>Ingredients</ion-card-title> <!--Card title for ingredients-->
        </ion-card-header>
      
        <ion-card-content>
          2 tablespoons of Mae Ploy Red Curry Paste
          <p></p>
          350g sliced chicken
          <p></p>
          200ml coconut milk
          <p></p>
          2 teaspoons of garlic puree
          <p></p>
          4 slices of fresh ginger
          <p></p>
          1 tablespoon of Thai fish sauce
          <p></p>
          2 tablespoons of sesame oil
          <p></p>
          100ml of chicken stock
          <p></p>
          2 lime leaves (shredded)
          <p></p>
          1/2 red pepper & 1/2 green pepper
          <p></p>
          2 tablespoons sugar
          <p></p>
          1 finely chopped red chilli to garnish
        </ion-card-content> 
        <!--Card content shows ingredients required-->
          
      </ion-card>

      <ion-card>
          <ion-card-header>
            
            <ion-card-title>Method</ion-card-title> <!--Card title for recipe method-->
          </ion-card-header>
        
          <ion-card-content>
            1. In a small saucepan warm up the coconut milk over a medium heat
            <p></p>
            2. Meanwhile in a wok add the sesame oil and heat until very hot
            <p></p>
            3. Swirl the hot oil around the wok then add the garlic. Stir fry for about 10-20 seconds until it begins to brown
            <p></p>
            4. Add the curry paste, stir fry for 10 seconds then add the warm coconut milk
            <p></p>
            5. Cook the coconut milk mixture for abut 5 minutes until it begins to thicken
            <p></p>
            6. Stir in the fish sauce, fresh ginger and sugar
            <p></p>
            7. Add the sliced chicken and cook for another 5 minutes or until all the chicken has turned white
            <p></p>
            8. Stir in the red and green peppers
            <p></p>
            9. Pour in the chicken stock, bring to the boil and simmer gently for 2 minutes
            <p></p>
            10. Stir in the shredded lime leaves
            <p></p>
            11. Turn into a warm serving dish, garnish with chopped red chilli
            <p></p>
            12. Serve immediately with steamed or boiled rice
            <p></p>
            <ion-card-title color="danger">Serves 4</ion-card-title>
          </ion-card-content>
        </ion-card>
        <!--Card content shows recipe method steps-->

</ion-content> <!--End of content tag-->
