.logo {
    height: 175px;
    width: 175px;
    position: relative;
} //sets logo size and position on screen

ion-toolbar {
    text-align: center;
} //centers toolbar on screen

ion-card {
    position: relative;
    text-align: left;
} //centers cards for buttons on screen

