ion-card {
    position: relative;
    text-align: center;
} //centers checkout card on screen


.logo {
    height: 175px;
    width: 175px;
    position: relative;
} // sets logo size and position on screen

ion-toolbar {
    text-align: center;
} // centers toolbar on screen

.buttons {
    text-align: center;
} // centers buttons on screen




